* {
    margin: 0px;
    padding: 0px;
}


.brand-logo {

    height: 50px;
}

.rightSideNavTop {

border:solid rgb(166, 178, 189); 
    padding: 0px;

    background-image: linear-gradient(to right,rgb(238, 242, 245), rgb(201, 210, 218));
}


/* Start Datamanagement area */

#divDataManagementArea {
    /*  width: 260px; */
    padding: 8px;
    margin: 0px;
    /* border: 1px solid rgb(102, 102, 102); */
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
    visibility: hidden;
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 130;
    background-color: rgb(255, 255, 255);
}

.dataManagementTopText a{

    margin-top: 5px;
    color: rgb(11, 11, 105);
    font-size: 16px;

}
.dataManagementTopText a:hover{

    margin-top: 5px;
    color: darkslategray;
    font-size: 16px;

}


#pbiTargetArea {
    display: flex;
    position: absolute;
    top: 190px;
    left: 165px;
    z-index: 210;
    visibility: hidden;
    cursor: move;
    width: auto;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
    padding: 10px !important;
    border: none !important;
    background: rgb(255, 255, 255);
}


/* END DM area */




/* UNIVERSAL FORM INPUT FIELDS */

/* label color */
.input-field label {
    color: rgb(59, 53, 53);
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }
       
/* testing */
  * {
/*     box-sizing: border-box; */
  }

  
  .truncated div{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    padding: .5em;
  
    width: auto;
    max-width: 100%;
    -webkit-transition: max-width linear .5s;
    transition: max-width linear .5s;
  }
  .truncated:hover div {
    overflow: visible;
    white-space: normal;
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for webkit*/
       word-break: break-word;
  
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  
    max-width: 400%;
    width: 400%;
    z-index: 1; /* stack above subsequent cells */
  }

  td:hover div:before {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    content: "";
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 3px;
    position: absolute;
    z-index:-1; /* stack below truncated text */
  }
  


/*   #divTbPagesL1.highlight {
    border: 4px dashed rgb(240, 234, 234);
    border-radius: 20px;
    border-color: rgb(160, 158, 149);
    background: #e2e6f3;
    height: 70px; 
  } */

/* admin panel  */
.dbmBoxAdminForm {

    /*             border-radius: 10px;
    box-shadow: 0 0 7px rgba(0,0,0,0.5) !important; */
    padding: 25px;
    background: rgba(255, 255, 255, 255);
    margin-left: 100px;
    margin-right: 100px;
    width: 600px;
}

.dbmBoxAdminForm h3 input {
    /*    width: auto; */
    /*             border-radius: 10px;
    box-shadow: 0 0 7px rgba(0,0,0,0.5) !important; */
    width: auto;
    padding: 0px;
    background: rgba(255, 255, 255, 255);



}

.dbmBoxAdminForm p {
    /*    width: auto; */
    /*             border-radius: 10px;
    box-shadow: 0 0 7px rgba(0,0,0,0.5) !important; */
    padding: 0px !important;
    background: rgba(255, 255, 255, 255);
    /* width:500px; */
    width: auto;

}

.dataTables_filter {

    float: left;
}


/* admin panel  */
.dashboard {

    /*             border-radius: 10px;
    box-shadow: 0 0 7px rgba(0,0,0,0.5) !important; */
    padding: 25px;
    background: rgba(255, 255, 255, 255);
    margin-left: 100px;
    margin-right: 100px;
    width: 600px;
}

.dashboard h3 input {
    /*    width: auto; */
    /*             border-radius: 10px;
    box-shadow: 0 0 7px rgba(0,0,0,0.5) !important; */
    width: auto;
    padding: 0px;
    background: rgba(255, 255, 255, 255);



}

.dashboard p {
    /*    width: auto; */
    /*             border-radius: 10px;
    box-shadow: 0 0 7px rgba(0,0,0,0.5) !important; */
    padding: 0px !important;
    background: rgba(255, 255, 255, 255);
    /* width:500px; */
    width: auto;

}
.reportTopTitle{

margin-top: 20px;
margin-bottom: 5px;
font-size: 24px;

}
.reportContainer{
    margin: 20px;
    width: 1500px;

    top: 10px;
}

/*  Materialize Stuff for paralax page */
.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
  }
    .parallax-container .section {
      width: 100%;
    }
 



.ui-dialog {
    z-index: 300 !important;
}

#tbcContainer {
    display: flex;
    position: absolute;
    top: 90px;
    left: 265px;
    z-index: 110;
    visibility: visible;
   /*  height: 270px; */
    width: 320px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
    padding: 8px !important;
    border: none !important;
    background: rgb(255, 255, 255);
}

.tbcContainer div {
    margin: 5px;
}

#tbcBox1 {
    width: auto;
    height: auto;
    background-color: rgb(247, 247, 240);
}

#tbcBox2 {
    width: 250px;
    visibility: visible;
    border-radius: 15px;
    /* background-color: rgb(191, 240, 199); */
   /*  background-image: url("../images/backgroundgreen.png"); */
}

.tbcColheader {
    /* margin: 1px; */
    padding: 5px;
    text-align: center;
    color: rgb(17, 16, 16);
    font-size: 16px; 
    color: rgb(7, 85, 7);
    font-weight: 600;
    border-radius: 10px;
    background-color: rgb(246, 248, 240);
}

#tbcDropText {
    padding: 15px;
    margin-top: 25px;
    text-align: center;
    color: rgb(44, 43, 43);
    font-size: 16px;
}

#tbcDraggableTable {
    padding: 10px;
    margin-top: 5px;
    text-align: center;
    color: rgb(92, 85, 85);
    font-size: 11px;
    width: 120px;
}

#tbcPfDropText {
    visibility: visible;
    padding: 12px;
}

#tbcProjDropText {
    visibility: visible;
    padding: 12px;
}

#tbcDivForNewBarTable {
    width: 140px;
    font-size: 13px;
   /*  line-height: 2px; */

    cursor: pointer;
    padding: 1px;

  /*   cursor: move;
    text-align: left;
     */
}

/* #divForNewBarTable {
    width: 115px;
    padding: 8px;
    margin: 0px;
    cursor: move;
    text-align: left;
    line-height: 18px;
    border: 1px solid rgb(102, 102, 102);
    visibility: hidden;
    position: absolute;
    top: 135px;
    left: 55px;
    z-index: 110;
    background-color: rgb(255, 255, 255);
}

#divForNewBarTable p {
    font-size: 11px;
} */

/*div table with cell width controlled automatically by tag */
.rptTable {
    display: table;
    color: rgb(92, 85, 85);
    font-size: 15px;

    line-height: 12px;

}

/* text around menu item links */
.rptTable p {
    cursor: pointer;
    padding-left: 10px;

}

.rptTable p:hover {
    color: royalblue;
    text-decoration: none;
    cursor: pointer;
}

.rptTable .rptTable {
    display: table-row;

}

/* left nav aka quick launch */
.rptTable .rptTable .rptTable {
    display: table-cell;
    background: rgb(255, 216, 0);
    border: 1px solid #caddd7;
    padding: 5px;
    vertical-align: top;

}

.boxCanvas {
    display: block;
    border-radius: 8px;
    border: 0px solid green;
    position: absolute;
    left: 300px;
    top: 80px;
    z-index: 200;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
    padding: 0px !important;
    background: rgb(255, 255, 255);
}



 /* start status form */

        /* font size on row titles */
        .statusForm {
            color: black;
            border-radius: 8px;
            border: 0px solid green;
            box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
            padding: 0px !important;
           width: 620px !important;  
        }
        .statusFormFields {
            margin-top: 10px;
            border: 1px solid rgb(218, 210, 210);
 
        }

        table.statusFormIndicatorTable {
            border: 1px solid rgb(218, 210, 210);
            border-collapse: collapse;
            text-align: center;
            font-size: 12px;
            padding: 5px !important;
            border: 1px solid rgb(218, 210, 210); /*for older IE*/
            border-style: hidden;
        }

        table.statusFormIndicatorTable th, table.statusFormIndicatorTable td {
            padding-bottom: 10px;
            border-width: 1px;
            border-style: solid;
            border: 0px solid rgb(218, 210, 210);
            text-align: center;
        }

        table.statusFormIndicatorTable tr {
      /*       background-color: rgb(240, 245, 238); */
        }

         table.statusFormIndicatorTable thead th {
            color: rgba(43, 43, 49, 0.938);
            font-size: 14px;
          /*   background-color: rgb(240, 245, 238); */
            padding: 8px;
        }


 /* END sttus form */




 /* alloc sch engine form */

        /* font size on row titles */
        .allocSchEngFormPFA {
            font-size: 14px;
            font-weight: bolder;
            color: rgba(30, 30, 51, 0.938);
        }
        .allocSchEngForm {
            color: black;
            border-radius: 8px;
            border: 0px solid green;
            box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
            padding: 0px !important;
            width: 620px !important;
            background: rgb(255, 255, 255);
        }

        table.allocSchEngTable {
            border: 1px solid rgb(218, 210, 210);
            border-collapse: collapse;
            text-align: center;
            font-size: 12px;
            padding: 5px !important;
            border: 1px solid rgb(218, 210, 210); /*for older IE*/
            border-style: hidden;
        }

        table.allocSchEngTable th, table.allocSchEngTable td {
            padding: 3px;
            border-width: 1px;
            border-style: solid;
            border: 1px solid rgb(218, 210, 210);
            text-align: center;
        }
         table.allocSchEngTable thead {
            color: rgba(43, 43, 49, 0.938);
            font-size: 12px;
        }


 /* END alloc sch engine form */



.boxAdminForm {
    width: 650px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 7px !important; */
    padding: 25px !important;
    background: rgb(255, 255, 255);
}

.boxAdminFormSub {
    width: 350px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 17px !important;
    padding: 25px !important;
    background: rgb(246, 243, 241);
}

.boxAdminFormSub a {
    color: rgb(85, 85, 85);
}
.boxAdminForm {
    width: 650px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 7px !important; */
    padding: 25px !important;
    background: rgb(255, 255, 255);
}
.box {
    width: 650px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 50px !important;
    background: rgb(238, 238, 238);
}

.box2 {
    width: 600px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
    padding: 8px !important;
    border: none !important;
    background: rgb(255, 255, 255);
}

.tbMetaDataBox {
    width: 400px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
    padding: 4px !important;
    border: none !important;
    background: rgb(255, 255, 255);
}
#tblTaskMetaDataPopupOffBar_wrapper .bottom{

height: 150px;

}

.box3 {
    width: 600px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 111;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
    padding: 8px !important;
    border: none !important;
    background: rgb(255, 255, 255);
}

.statusFormL2 {
   /*  width: 550px; */
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 111;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
    padding: 8px !important;
    border: none !important;
    background: rgb(255, 255, 255);
}

.box4 {
    width: 600px;
    height: 100px;
    overflow: auto;
    position: relative;
    background: rgb(255, 255, 255);
}

.boxtest {
    width: 0px;
    height: 100px;
}

.clsPopupOnBar {
    z-index: 111;
}

/* new status form sep 2019 */
.statusForm {
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 111;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
    padding: 8px !important;
    border: none !important;
    background: rgb(255, 255, 255);

}


.metadataTaggerPopup {
    /* display: none; */
    visibility: hidden;
    width: 120px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
    padding: 8px !important;
    border: none !important;
    /* background-color: rgb(239, 239, 200); */
    background-color: rgba(239, 239, 200, 255);
}

.boxAuto {
    border-radius: 8px;
    padding: 19px !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 50px !important;
    background: rgb(255, 255, 255);
    /*  border: 1px solid rgb(204, 204, 204); */
}

.txtarea {
    max-width: 100%;
    min-height: 200px;
    display: block;
    width: 100%;
    padding: 10px;
}

.deleteBucket {
    left: 2px;
    top: 70px;
    position: fixed;
    visibility: hidden;
    /*     width: 300px;
    height: 300px; */
    /*   border: solid 1px; */
}

.tagBuckets {
    position: absolute;
    top: 70px;
    left: 550px;
    width: 575px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    z-index: 110;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
    padding: 5px !important;
    border: none !important;
    background: rgb(255, 255, 255);
}

.quickMenu {
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 8px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-weight: 400;
    position: relative;
    text-transform: none;
    border: 1px solid rgb(204, 204, 204);
    left: 0px;
    top: 200px;
    background: rgb(220, 60, 0);
}

.pfRightClickMenu {
    visibility: hidden;
    position: absolute;
    top: 5px;
    left: 5px;
}

.projRightClickMenu {
    visibility: hidden;
    position: absolute;
    top: 5px;
    left: 5px;
}

.relRightClickMenu {
    visibility: hidden;
    position: absolute;
    top: 5px;
    left: 5px;
}

.taskRightClickMenu {
    visibility: hidden;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 400px;
}

.taskRightClickMenu h3 {
    font-size: 16px;
    padding-left: 0px;
    padding-right: 5px;
    padding-bottom: 12px;
    padding-top: 8px;
    color: rgb(183, 228, 60);
}

.taskRightClickMenu p {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    color: rgb(213, 221, 191);
}

.canvasRightClickMenu {
    visibility: hidden;
    position: absolute;
    top: 5px;
    left: 5px;
}

table {
    border-collapse: collapse;

}

/*Timebar side nav (tbsn) Control width with first three classes*/
.tbsn {
    font-size: 13px;
    width: 280px;
    background-color: #fff;
    position: fixed !important;
    z-index: 120;
    height: 100%;
    overflow: auto;
}

.tbsndivcol1w {
    width: 75px;
    text-align: right;
}

.tbsndivcol2w {
    width: 200px;
    font-size: 11px;
    color: white !important;
}

table.tbsnTable td {
    /*height: 50px*/
    color: white;
    padding: 4px;
    vertical-align: central;
    border: 1px solid #777777;
    text-align: center;
}

table.tbsnTable th {
    padding: 4px;
    vertical-align: central;
    border: 1px solid #777777;
    text-align: center;
    color: #caddd7;
}


.tbsndarkgrey {
    color: #fff;
    background-color: rgba(97, 97, 97);
}

#tbsnSetBL {
    color: #caddd7;
    font-size: 12px;
    font-style: italic;
    background-color: rgba(97, 97, 97);
}

#tbsnSetBL:hover {
    color: white;
    font-size: 12px;
    font-style: italic;
    background-color: rgba(97, 97, 97);
}

.tbsnanimateleft {
    position: relative;
    -webkit-animation: animateleft 0.4s;
    animation: animateleft 0.4s;
}

.tbsnClose {
    font-size: 16px !important;
    color: #DDDDDD;
    padding: 6px;
}

.tbsnBand1 {
    /*width: 300px;*/
    padding: 2px;
    border: 1px solid #caddd7;
    background: #cccccc;
    color: #1c72af;
    background: #cccccc;
}

#tbsnTbl3 {
    width: 600px;
}

/*div table with 1 column */
.tbsndiv1 {
    display: table;
}

.tbsndiv1 .tbsndiv1 {
    display: table-row;
}

.tbsndiv1 .tbsndiv1 .tbsndiv1 {
    display: table-cell;
    padding: 2px;
    vertical-align: top;
}

/*div table with 2 columns */
.tbsntbsndiv2 {
    display: table;
}

.tbsndiv2 .tbsndiv2 {
    display: table-row;
}

.tbsndiv2 .tbsndiv2 .tbsndiv2 {
    display: table-cell;
    /*background: #caddd7;*/
    /*border-style: solid;*/
    /*border-width: 1px 1px 1px 1px;*/
    color: #C6E2EE;
    padding: 3px;
}


/* Scheduling engine settings form*/
#sesHidAllocOnCanvas {
    position: fixed;
    top: 60px;
    left: 20px;
    z-index: 116;
    background: whitesmoke;
   /*  visibility: hidden */
}

.sesHidAllocOnCanvasL2 {

    float: left
}




#sesLevelsOnCanvas {
    /* font-family: Calibri, sans-serif; */
    font-size: 12px;
    visibility: hidden
}

.sesContainerL1 {
    margin: auto;
 /*    font-family: Calibri, sans-serif; */
    font-size: 12px;
    width: 300px;
    position: fixed;
    left: 155px;
    top: 36px;
    z-index: 230;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
    padding: 5px !important;
    border: none !important;
    /* background: rgb(185, 185, 27); */
    background: rgb(255, 235, 51);
    cursor: pointer;
}

/* sceduling settings form ses form*/

.sesContainerL2 {
    background: rgb(255, 216, 0);
    /* border: 1px solid rgb(255, 216, 0); */
}

#sesContainerSlider {
    margin: auto;
    /* width: 120px;
    position: fixed;
    left:400px;
    top: 50px;
    z-index: 230;
    background: rgb(255, 235, 51);
        font-size:smaller;*/
}

.sesDiv2 {
    display: table;
}

.sesDiv2 .sesDiv2 {
    display: table-row;
}

.sesDiv2 .sesDiv2 .sesDiv2 {
    display: table-cell;
    padding: 5px;
}

.sesHeaderBand1 {
    padding: 6px;
    background: rgb(255, 216, 0);
    color: #1c72af;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

.sesHeaderBand2 {
    padding: 6px;
    color: #1c72af;
    text-align: left;
    font-weight: 700;
    width: 100%;
}

/* .sesLabelArea {
    padding: 15px;
    text-align: center;
    width: 40px;
}

.sesFieldArea {
    width: 75%;
    background: rgb(241, 241, 238);
    color: black;
}

.sesFieldArea input[type="text"] {
    transition: box-shadow 0.3s, border 0.3s;
    width: 60px;
    padding: 5px;
    border: none;
    border-radius: 4px;
}

.sesFieldArea input[name="tbVisibility"] {
    display: inline-block;
    width: 20px;
    height: 21px;
    margin: 5px;
    padding: 20px;
}

.sesFieldArea input[name="schMethod"] {
    display: inline-block;
    width: 2px;
    height: 2px;
    margin: 5px;
    padding: 2px;
}

.sesFieldArea input[name="hideCompletedItems"] {
    display: inline-block;
    width: 20px;
    height: 21px;
    margin: 5px;
    padding: 20px;
}

.sesFieldArea input[name="tsInterval"] {
   display: inline-block; 
    width: 20px;
    height: 21px;
    margin: 8px;
    padding: 20px;
} 
*/

#tsFactor {
    width: 100%;
    margin: 2px;
}


/* #popupOffBar {
    width: 460px;
    padding: 5px;
    margin: 0px;
    z-index: 110;
} */

#divResourceTable {
    /*  width: 260px; */
    padding: 8px;
    margin: 0px;
     line-height: 14px;   
    cursor: pointer;


    border: 1px solid rgb(165, 154, 154);
    visibility: hidden;
    position: absolute;
    top: 135px;
    left: 135px;
    z-index: 110;
    background-color: rgb(255, 255, 255);
}

#divResourceTable h4 {
    font-size: 24px;
    margin: 0;
    /*  display: inline-block; */
}

#tblResourceTable tr td {
   /*  padding: 15px !important;
 */
}


#mcttContainer {
    /* width: 360px; */
    /*  height: 440px;  */
    /* padding: 8px; */
    /*     margin: 0px;
    cursor: pointer;
    text-align: left;
    line-height: 16px; */
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 7px !important;
    position: fixed;
    top: 205px;
    left: 295px;
    z-index: 310;
    background-color: white;
}

#mcttHeader {
    font-size: 16px;
    height: 40px;
    background-color: white;
    padding: 8px;
}

#mcttHeader h4 {
    font-size: 18px;
    margin: 0;
}

#mcttHeader p {
    font-size: 12px;
    margin: 0;
}

#mcttTagListDiv {
    /*  box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 7px !important; */
    background-color: white;
    line-height: 16px;
    z-index: 310;
    width: 260px;
}

#docCreateNewFromReportPage {

    margin-left: 168px;
}

#divForTagTable {
    width: 240px;
    padding: 5px;
    margin: 0px;
    cursor: move;
    text-align: left;
    line-height: 18px;
    border: 1px solid green;
    visibility: hidden;
    position: absolute;
    top: 135px;
    left: 135px;
    z-index: 110;
    background-color: rgb(255, 255, 255);
}

.tagTblStd td {
    padding: 3px;

}

.tagTblGateForm td {
    padding: 3px;

}

#divAllocationTable {
    width: 510px;
    padding: 0px;
    margin: 0px;
    cursor: move;
    text-align: left;
    line-height: 18px;
    visibility: hidden;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 110;
    background-color: rgb(255, 255, 255);
}

.tbButtonSmall {
    height: 18px;
    font-size: 11px;
    margin: 2px 6px 2px 2px;
    padding: 5px;
/*     vertical-align: middle;
    position: relative; */
    line-height: 0px;
    float: left;
 }
 .tbButtonSmall:hover {
color: yellowgreen;
 }

.tbButtonSmallFloatRight {
    float: right;
/*      height: 24px;
    font-size: 12px;
    margin: 2px;
    padding: 1px 4px 3px 4px; */
  /*   vertical-align: top; 
    position: relative; */
}

#btnTbsnClose {
    height: 19px;
    font-size: 12px;
    margin: 0px;
    padding: 0px 3px 3px;
    background-color: rgb(255, 216, 0);
}

#tsDoubleClickArea {
    position: fixed;
    left: 0px;
    top: 35px;
    width: 2000px;
    height: 27px;
}

#barGraphController {
    position: fixed;
    left: 230px;
    bottom: 1px;
    width: 280px;
    height: 190px;
    border-color: rgba(163, 174, 173, 0.54902);
    border-style: outset;
    visibility: hidden;
    z-index: 110;
    background-color: rgb(255, 216, 0);
}
.footerLinks {
font-size: 13px;
}

#barGraphDoubleClickArea {
    position: fixed;
    left: 0px;
    bottom: 1px;
    width: 1000px;
    height: 80px;
}

#barCreateArea {
    position: fixed;
    left: 0px;
    top: 40px;
    width: 1000px;
    height: 1000px;
    z-index: 10;
}

#tsController {
    position: fixed;
    width: 280px;
    height: 320px;
    border-color: rgba(163, 174, 173, 0.54902);
    border-style: outset;
    visibility: hidden;
    z-index: 110;
    padding: 10px;
    left: 602px;
    top: 44px;
    background-color: rgb(255, 216, 0);
}

.tsSliderDiv {
    width: 220px;
}

#tsStatusDate {
    width: 90px;
    background-color: rgb(229, 229, 229);
}

.tbEnterDate {
    width: 100px;
    border: solid white;
    background-color: white;
}

#tb-listDivxxx {
    position: fixed;
    left: 400px;
    top: 100px;
    width: 850px;
    height: 400px;
    border-color: rgba(163, 174, 173, 0.54902);
    border-style: outset;
    background-color: rgba(255, 216, 0, 0.380392);
}

#tabsDataDraggableResizable {
    position: fixed;
    left: 430px;
    top: 120px;
    opacity: 0.9;
    visibility: hidden;
}

.bucket {
    width: 150px;
    margin: 10px auto 0px;
    /* font-family: Latha; */
    font-size: 12px;
    border: thin solid rgba(246, 242, 242, 0.682353);
    text-align: left;
    text-indent: 5px;
    background: rgb(192, 192, 192);
}

#howToUseTimebarsContentArea {
    width: 650px;
    height: 900px;
    border: 1px solid white;
 /*    font-family: Arial; */
    font-size: 12px;
    text-align: left;
    text-indent: 5px;
    margin: 0px;
    padding: 4px;
    position: fixed;
    left: 10px;
    top: 30px;
    background-color: white;
}

#tbToolbar {
    position: fixed;
    left: 5px;
    top: 60px;
    width: 450px;
    height: 20px;
    border: solid rgba(163, 174, 173, 0.54902);
    /*     overflow: scroll;
    
    */
    /*  visibility: hidden; */
    z-index: 210;
    padding: 4px;
    /*  cursor: move; */
    background-color: rgb(245, 245, 237);
}

#tbMsgContainer {
    position: relative;
    left: 300px;
    top: 60px;
    /* width: 340px; */

    border: solid rgba(163, 174, 173, 0.54902);
    z-index: 210;
    padding: 5px;
    background-color: rgb(245, 245, 237);
   
}

.msgCanvas{
height: 400px;
overflow: scroll;
}

.actionSuccess {
    color: black;

}

.actionFailure {

    color: red;
}


#ButtonDropDownTextQ1 {
    width: 220px;
    padding: 10px;
    border: 1px solid rgb(255, 106, 0);
    margin: 0px;
}

#ButtonDropDownTextQ2 {
    width: 220px;
    padding: 10px;
    border: 1px solid rgb(163, 174, 173);
    margin: 0px;
}

#ButtonDropDownTextQ3 {
    width: 220px;
    padding: 10px;
    border: 1px solid rgb(163, 174, 173);
    margin: 0px;
}

#draggableButtons {
    width: 150px;
    padding: 10px;
    border: 1px solid rgba(246, 237, 237, 0.592157);
    margin: 0px;
}

#uploadLocal {
    margin-left: 5px;
}

/* h1 {
    font-size: 14px;
}
 */
#dataController {
    position: fixed;
    border-color: rgba(163, 174, 173, 0.54902);
    border-style: outset;
    visibility: hidden;
    z-index: 110;
    height: 420px;
    width: 350px;
    left: 430px;
    top: 35px;
    background-color: rgb(255, 216, 0);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 7px !important;
    padding: 5px !important;
}

.dataControllerH1 {
    font-size: 18px;
    margin-left: 5px;
    text-align: center;
}

.dataControllerDiv1 {
    text-align: center;
    vertical-align: middle;
}

#dataControllerUploadBox {
    height: 150px;
    text-align: center;

    border: 2px solid rgb(255, 106, 0);
    padding: 2px;
    font-size: 16px;
    background-color: rgb(215, 230, 13)
        /* background-image: url("/images/backgroundgreen.png"); */
}

#btnDataControllerClose {
    font-size: 14x;
    cursor: pointer;
}

#tsStartDateOld {
    background-color: rgb(255, 216, 0);
}

#tsDaysWeeksOrMonthsOld {
    background-color: rgb(255, 216, 0);
}

/*********  start p3menu top right bottom left **********/

.filterP3MenuItemsPortfolio {
    cursor: pointer;
    padding: 5px 3px 5px 2px;
}

.filterP3MenuItemsProgram {
    cursor: pointer;
    padding: 3px;
}

.filterP3MenuItemsProject {
    cursor: pointer;
    padding: 3px;
}

.filterP3MenuItemsSubProject {
    cursor: pointer;
    padding: 3px 3px 3px 20px;
}

.selectedP3Item {
    color: rgb(16, 163, 16);
    font-weight: bold;
}

/* main top menu on canvas */
.TimebarsMenu {
    background-color: black;
    height: 35px;
    text-align: left;
    padding-top: 2px;
    text-decoration: none;
    margin: 0;
    font-size: 13px;
    width: 1800px;
    position: absolute;
    z-index: 210;
}

.TimebarsMenu a {
    color: #f5f8fa;
}

.TimebarsMenu a:hover {
    color: #b2c1fc;
    text-decoration: none;
    cursor: pointer;
}


/* p3Menu menu */

#p3MenuContainer1 {
    width: 320px;
    position: absolute;
    left: 3px;
    top: 55px;
    font-size: 14px;
}

.p3MenuHeaderL1 {
    padding: 1px;
    background-color: rgba(15, 15, 15, 0.938);
    color: white;
}

.p3MenuHeaderL1:hover {
    color: rgb(10, 243, 10);
   /*  font-weight: bold; */
}

.p3MenuHeaderL1 li:hover {
    color: rgb(29, 202, 29);
   /*  font-weight: 800; */
}

.p3MenuHeaderL2 {
    /* padding: 2px; */
    padding-left: 5px;
    background-color: rgb(65, 57, 57);
    color: rgb(22, 22, 22);
   /*  font-weight: 600; */
    color: rgb(199, 190, 181);
}

.p3MenuHeaderL3 {
    /* padding: 15px; */
    background-color: white;
    color: black;
    font-weight: 500;
    padding-left: 25px;
}

#tbNameTopLeft {

    font-weight: 700;
    padding-left: 10px;
    /*     background-color: black; */
    line-height: 14px;
    color: rgb(10, 243, 10);
   /*  font-size: 13px; */

}

.btnP3Menu2 {

    color: Gold;
    cursor: pointer;
}

/* end p3Menu menu */

/* tooltip styling */


.ui-dialog-content {
    color: rgb(39, 38, 38);
}

.ui-tooltip {
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 7px black;
}

/* Start Sync Panel*/

.syncpnlContainerL1 {
    margin: auto;
/*     font-family: Calibri, sans-serif; */
    font-size: 12px;
    width: 400px;
    position: fixed;
    left: 20px;
    top: 40px;
    z-index: 230;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
    padding: 5px !important;
    border: none !important;
    background: rgb(255, 235, 51);
}

.syncpnlContainerL2 {
    background: rgb(255, 216, 0);
}

.syncpnlDiv2 {
    display: table;
}

.syncpnlDiv2 .syncpnlDiv2 {
    display: table-row;
}

.syncpnlDiv2 .syncpnlDiv2 .syncpnlDiv2 {
    display: table-cell;
    padding: 5px;
}

.syncpnlHeaderBand1 {
    padding: 6px;
    background: rgb(255, 216, 0);
    color: #1c72af;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}

.syncpnlHeaderBand2 {
    padding: 6px;
    color: #1c72af;
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    /* width: 100%; */
}

.syncpnlLabelArea {
    padding: 15px;
    /*     text-align: center; */
    width: 300px;
    font-size: 14px;
}

.syncpnlFieldArea {
    /* width: 100%;  */
    background: rgb(255, 216, 0);
}

/*
    .syncpnlFieldArea input[type="text"] {
        transition: box-shadow 0.3s, border 0.3s;
        width: 90px;
        padding: 5px;
        border: none;
        border-radius: 4px;

  
    }

    .syncpnlFieldArea input[name="tbVisibility"] {
        display: inline-block;
        width: 20px;
        height: 21px;
        margin: 5px;
        padding: 20px;

    }
    .syncpnlFieldArea input[name="schMethod"] {
        display: inline-block;
        width: 20px;
        height: 21px;
        margin: 5px;
        padding: 20px;

    }
    .syncpnlFieldArea input[name="tsInterval"] {
      
        width: 20px;
        height: 21px;
        margin: 8px;
        padding: 20px;

    }  
    */

/* End Sync Panel*/

/* FOCD Common */
focdPagesDragMe {
    color: gray;

}

focdPagesDragMe:hover {
    color: black;

}

.focdFormBand {
    width: 100%; 
    padding: 5px; 
    border-bottom: 2px solid lightgrey; 
    border-top: 2px solid lightgray; 
    background-color: whitesmoke; 
    font-size: 22px;

}


.tagListPopup {
    /* display: none; */
    visibility: hidden;
    /* width: 250px; */
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
    padding: 8px !important;
    border: none !important;
    background-color: rgb(239, 239, 200);
    position: absolute;
    z-index: 250;
    left: 500px;
    top: 90px;
}

/* Start FOCD Proposal Form*/
.propformContainerL1 {
    visibility: hidden;
    margin: auto;
/*     font-family: Calibri, sans-serif; */
    font-size: 14px;
    width: 720px;
    position: absolute;
    left: 300px;
    top: 60px;
    z-index: 230;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
    padding: 16px !important;
    background: rgb(241, 241, 236);
    color: #1c72af;
}

.propformContainerL2 {
    /*  background: rgb(238, 228, 143); */
}

.propformDiv2 {
    display: table;
    /*     border-color: rgb(228, 218, 140);
    border-style: solid;
    border-width: .5px; */
    border-collapse: collapse;
    /*  width: 620px;  */
    /*   border: none !important;  */
}

.propformDiv2LabelArea {
    padding: 5px;
    text-align: left;
    width: 180px;
    /* color: #1c72af; */
}

.propformDiv2LabelArea p {
    color: dimgray;
    font-style: italic;
    font-size: 12px;
}

.propformDiv2FieldArea {
    width: 550px;
    /* background: rgb(238, 228, 143); */
    padding: 5px;
    color: black;
}

.propformDiv2 .propformDiv2 {
    display: table-row;
}

.propformDiv2 .propformDiv2 .propformDiv2 {
    display: table-cell;
}

/*div table with 6 fixed width cells*/

.propformDiv6 {
    display: table;
    border-collapse: collapse;
    /*     border-color: rgb(211, 211, 202);
    border-style: solid;
    border-width: 0.5px; */
}

.propformDiv6 .propformDiv6 {
    display: table-row;
}

.propformDiv6 .propformDiv6 .propformDiv6 {
    display: table-cell;
    /* background: rgb(238, 228, 143); */
    /*  border: 1px solid #caddd7; */
    /*    padding: 5px; */
    /* vertical-align: top; */
    /*  width: 100px; */
}

.propformDiv6LabelArea {
    padding: 5px;
    text-align: left;
    /*    color: #1c72af; */
    width: 60px;
}

.propformDiv6FieldArea {
    width: 160px;
    /*  background: rgb(238, 228, 143); */
    padding: 1px;
    color: black;
}

.propformHeaderBand1 {
    padding: 0px 0px 0px 0px;
    /* background: rgb(238, 228, 143); */
    /*   color: #1c72af; */
    font-size: 30px;
    text-align: left;
    font-weight: 700;
}

.propformHeaderBand2 {
    padding: 0px 0px 10px 0px;
    /* color: #1c72af; */
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    /* width: 100%; */
}

.jspacer {
    height: 25px;

}

[contenteditable]:hover::after {
    /* content: " editable..."; */
    font-style: italic;
    font-size: 12px;
    font-family: sans-serif;
    color: rgb(70, 20, 20);
}

[contenteditable]:hover,
[contenteditable]:focus {
    /*   background: white;
    color: black;
    border-radius: 3px;
    border: 1px solid rgb(158, 160, 73); */
    /*     overflow: visible;
    
    height: auto;
    width: 400px;
    z-index: 400; */
}

/* [contenteditable]:focus {
    padding: 2px;
} */

[contenteditable]:focus::after {
    content: "";
}





/*********** start new metadata form large *************** */

/* applies to entire form container */
.metadataformContainerL1 {
    position: absolute;
    width: 925px;
    left: 100px;
    top: 110px;
    visibility: hidden;
    z-index: 220;
    font-weight: 400;
    padding: 0px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
}

.mdFormAdvcontainer{

margin-left: 3px;
margin-right: 3px;
margin-top: 0px;

}

div.mdFormAdvTitle{

 /*  padding-top: 5px; */
  font-weight: 600;
  font-size: 20px;
  margin-left: 8px;
  color: rgb(165, 167, 104);
    }

/* breadcrumb hierarchy */
nav.clean {
    /* background: none; */
    background: whitesmoke;
    box-shadow: none;
    padding: 5px;
 
    }
    nav.clean .breadcrumb {
    color: rgb(63, 58, 58);
    font-size: 14px;
    }
    nav.clean .breadcrumb:before {
    color: rgba(0, 0, 0, 0.7);
    }

 

.textAlignedSpacer{
    margin-left: 5px;
    margin-right: 5px;
}

/* **********  end metadata form *********** */



/*********** start metadata form small (MDFS) *************** */

/* applies to entire form container */
.mdfsContainerL1 {
    position: absolute;
    width: 620px;
    left: 100px;
    top: 100px;
    visibility: hidden;
    z-index: 220;
  /*   font-family: Calibri; */
    font-size: 14px;

    color: rgb(145, 168, 141);
    padding: 16px;
    background: rgb(5, 83, 38);
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 2px !important;
}

#testpos {

    position: absolute;
    width: 610px;
    left: 100px;
    top: 800px;
}


.mdfsHeaderBand1 {
    /* padding: 0px 0px 0px 0px; */
    font-size: 30px;
    text-align: left;
    font-weight: 600;
}

.mdfsHeaderBand2 {
    /*  padding: 0px 0px 0px 0px; */
    text-align: left;
    font-weight: 700;
    font-size: 18px;
}

#mdfsNotificationsContainer p {
    font-weight: 700;
    font-size: 18px;
    color: #709172;
}




/*div table with 4 fixed width cells*/

.mdfsDiv4 {
    display: table;

    /*  width: auto; */
}

.mdfsDiv4 .mdfsDiv4 {
    display: table-row;
    /* width: 100px; */
}

.mdfsDiv4 .mdfsDiv4 .mdfsDiv4 {
    display: table-cell;
    padding: 5px;
    /*     width: 100px;
    height: 30px;  */

}

/* labels */
.mdfsDiv4.mdfsDiv4.mdfsDiv4.mdfsDiv4.mdfsDiv4LabelArea {



    color: #709172;
    font-weight: 500;
    vertical-align: top;
    text-align: right;
    width: 100px;
    /*     border-collapse: collapse;
    border-color: rgb(211, 211, 202);
    border-style: solid;
    border-width: 0.5px;   */
}

/*  field area */
.mdfsDiv4.mdfsDiv4.mdfsDiv4.mdfsDiv4FieldArea {

    width: 200px;
    word-break: break-all;
    /* prevents very long strings or words from widening out side of form boundaries */
/*     border-collapse: collapse;
    border-color: rgb(211, 211, 202);
    border-style: solid;
    border-width: 0.5px; */
}

.mdfsDiv4.mdfsDiv4.mdfsDiv4.mdfsDiv4FieldArea:hover {
    background: white;
    color: black;
    border: 1px solid rgb(158, 160, 73);
    white-space: normal;
    overflow: visible;
    /*  height: 400px;  
    height: auto;
    width: auto;  */

}




/* div2 section one field per row */

.mdfsDiv2 {
    display: table;
}

.mdfsDiv2 .mdfsDiv2 {
    display: table-row;

}

.mdfsDiv2 .mdfsDiv2 .mdfsDiv2 {
    display: table-cell;
    padding: 5px;
}

/* labels */
.mdfsDiv2.mdfsDiv2.mdfsDiv2.mdfsDiv2.mdfsDiv2LabelArea {

    color: #709172;
    font-weight: 500;
    vertical-align: top;
    text-align: right;
    width: 100px;

/*     border-collapse: collapse;
    border-color: rgb(211, 211, 202);
    border-style: solid;
    border-width: 0.5px;  */  
}

/*  field area */
.mdfsDiv2.mdfsDiv2.mdfsDiv2.mdfsDiv2FieldArea {

    width: 200px;
    word-break: break-all;
    /* prevents very long strings or words from widening out side of form boundaries */
/*      border-collapse: collapse;
    border-color: rgb(211, 211, 202);
    border-style: solid;
    border-width: 0.5px; */ 
}

.mdfsDiv2.mdfsDiv2.mdfsDiv2.mdfsDiv2FieldArea:hover {
    background: white;
    color: black;
    border: 1px solid rgb(158, 160, 73);
    white-space: normal;
    overflow: visible;
}
/*  end dive 2 sections */

.jspacermdfs {
    height: 25px;

}

/* div table with 2 divs one row per field */



/* div table with 6 fixed width cells*/

.mdfsDiv6 {
    display: table;
    border-collapse: collapse;
}

.mdfsDiv6 .mdfsDiv6 {
    display: table-row;
}

.mdfsDiv6 .mdfsDiv6 .mdfsDiv6 {
    display: table-cell;
}

.mdfsDiv6LabelArea {
    padding: 5px;
    text-align: left;
    /*  width: 60px; */
}

.mdfsDiv6FieldArea {
    /*  width: 160px; */
    padding: 1px;
    color: black;
}




/* **********  end metadata form *********** */



/* start gatingform form */

.gatingformContainerL1 {
    visibility: hidden;
    margin: auto;
 /*    font-family: Calibri, sans-serif; */
    font-size: 14px;
    width: 1000px;
    position: absolute;
    left: 100px;
    top: 60px;
    z-index: 109;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
    padding: 16px !important;
    background: rgb(241, 241, 236);
    color: #1c72af;
}

.gatingformContainerL2 {
    /*  background: rgb(238, 228, 143); */
}

.gatingformDiv2 {
    display: table;
    /*     border-color: rgb(228, 218, 140);
    border-style: solid;
    border-width: .5px; */
    border-collapse: collapse;
    /*  width: 620px;  */
    /*   border: none !important;  */
}

.gatingformDiv2LabelArea {
    padding: 5px;
    text-align: left;
    width: 180px;
    /* color: #1c72af; */
}

.gatingformDiv2LabelArea p {
    color: dimgray;
    font-style: italic;
    font-size: 12px;
}

.gatingformDiv2FieldArea {
    width: 550px;
    /* background: rgb(238, 228, 143); */
    padding: 5px;
    color: black;
}

.gatingformDiv2 .gatingformDiv2 {
    display: table-row;
}

.gatingformDiv2 .gatingformDiv2 .gatingformDiv2 {
    display: table-cell;
}

/*div table with 6 fixed width cells*/

.gatingformDiv6 {
    display: table;
    border-collapse: collapse;
    /*     border-color: rgb(211, 211, 202);
    border-style: solid;
    border-width: 0.5px; */
}

.gatingformDiv6 .gatingformDiv6 {
    display: table-row;
}

.gatingformDiv6 .gatingformDiv6 .gatingformDiv6 {
    display: table-cell;
    /* background: rgb(238, 228, 143); */
    /*  border: 1px solid #caddd7; */
    /*    padding: 5px; */
    /* vertical-align: top; */
    /*  width: 100px; */
}

.gatingformDiv6LabelArea {
    padding: 5px;
    text-align: left;
    /*    color: #1c72af; */
    width: 120px;
}

.gatingformDiv6FieldArea {
    width: 180px;
    /*  background: rgb(238, 228, 143); */
    padding: 1px;
    color: black;
}


/*div table with 4 fixed width cells*/

.gatingformDiv4 {
    display: table;
    border-collapse: collapse;
    /*     border-color: rgb(211, 211, 202);
    border-style: solid;
    border-width: 0.5px; */
}

.gatingformDiv4 .gatingformDiv4 {
    display: table-row;
}

.gatingformDiv4 .gatingformDiv4 .gatingformDiv4 {
    display: table-cell;
    /* background: rgb(238, 228, 143); */
    /*  border: 1px solid #caddd7; */
    /*    padding: 5px; */
    /* vertical-align: top; */
    /*  width: 100px; */
}

.gatingformDiv4LabelArea {
    padding: 5px;
    text-align: right;
    /*    color: #1c72af; */
    width: 180px;
}

.gatingformDiv4FieldArea {
    width: 250px;
    /*  background: rgb(238, 228, 143); */
    padding: 1px;
    color: black;
}

.gatingformHeaderBand1 {
    padding: 0px 0px 0px 0px;
    /* background: rgb(238, 228, 143); */
    /*   color: #1c72af; */
    font-size: 30px;
    text-align: left;
    font-weight: 700;
}

.gatingformHeaderBand2 {
    padding: 0px 0px 10px 0px;
    /* color: #1c72af; */
    text-align: left;
    font-weight: 700;
    font-size: 18px;
}

.jspacerMetadataForm {
    height: 11px;

}

#tbMDStage {
    /* height:41px; */
    padding: 0px 0px 0px 0px;
}

#gateTitle {
    font-weight: 700;
    padding: 0px 0px 5px 0px;
}

/* end .gatingform form */
.boxHelpGatingForm {

    width: 400px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 7px !important;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
    background: rgb(255, 255, 255);
}


/* Start FOCD Document Form*/
.docformContainerL1 {
    visibility: hidden;
    margin: auto;
/*     font-family: Calibri, sans-serif; */
    font-size: 14px;
    width: 720px;
    position: absolute;
    left: 300px;
    top: 60px;
    z-index: 230;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
    padding: 16px !important;
    background: rgb(241, 241, 236);
    color: #1c72af;
}

.docformContainerL2 {
    /*  background: rgb(238, 228, 143); */
}

.docformDiv2 {
    display: table;
    /*     border-color: rgb(228, 218, 140);
    border-style: solid;
    border-width: .5px; */
    border-collapse: collapse;
    /*  width: 620px;  */
    /*   border: none !important;  */
}

.docformDiv2LabelArea {
    padding: 5px;
    text-align: left;
    width: 180px;
    /* color: #1c72af; */
}

.docformDiv2LabelArea p {
    color: dimgray;
    font-style: italic;
    font-size: 12px;
}

.docformDiv2FieldArea {
    width: 550px;
    /* background: rgb(238, 228, 143); */
    padding: 5px;
    color: black;
}

.docformDiv2 .docformDiv2 {
    display: table-row;
}

.docformDiv2 .docformDiv2 .docformDiv2 {
    display: table-cell;
}

/*div table with 6 fixed width cells*/

.docformDiv6 {
    display: table;
    border-collapse: collapse;
    /*     border-color: rgb(211, 211, 202);
    border-style: solid;
    border-width: 0.5px; */
}

.docformDiv6 .docformDiv6 {
    display: table-row;
}

.docformDiv6 .docformDiv6 .docformDiv6 {
    display: table-cell;
    /* background: rgb(238, 228, 143); */
    /*  border: 1px solid #caddd7; */
    /*    padding: 5px; */
    /* vertical-align: top; */
    /*  width: 100px; */
}

.docformDiv6LabelArea {
    padding: 5px;
    text-align: left;
    /*    color: #1c72af; */
    width: 60px;
}

.docformDiv6FieldArea {
    width: 160px;
    /*  background: rgb(238, 228, 143); */
    padding: 1px;
    color: black;
}

.docformHeaderBand1 {
    padding: 0px 0px 0px 0px;
    /* background: rgb(238, 228, 143); */
    /*   color: #1c72af; */
    font-size: 30px;
    text-align: left;
    font-weight: 700;
    vertical-align: middle;
}

.docformHeaderBand2 {
    padding: 0px 0px 10px 0px;
    /* color: #1c72af; */
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    /* width: 100%; */
}

.jspacer {
    height: 25px;

}

/* end doc form form */
/* 
table {
    font-size: 1em;
}

.ui-draggable,
.ui-droppable {
    background-position: top;
} 
 */


#helpTabsContainer {

    border-radius: 8px;
    position: relative;
    /* left: 380px;
top: 150px; */

    z-index: 200;
    width: 650px;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;

}

.accordionHelp .ui-accordion-content {
    background-color: #f3f3f3;
    color: rgb(90, 89, 89);
    font-size: 14px;
    line-height: 14pt;
}

.accordionHelp .ui-accordion-content h1 {

    color: rgb(90, 89, 89);
    font-size: 20px;
    padding: 3px 0px 15px 0px !important;
    font-weight: 800;

}

.accordionHelp .ui-accordion-content h2 {

    color: rgb(90, 89, 89);
    font-size: 18px;
    padding: 3px 0px 5px 0px;
    font-weight: 700;

}

.accordionHelp .ui-accordion-content h3 {

    color: rgb(90, 89, 89);
    font-size: 16px;
    padding: 8px 0px 8px 0px;
    font-weight: 600;

}

.accordionHelp .ui-accordion-header {
    font-size: 16px !important;
}

#helpTabs h1 {
    padding: 8px;
}


#helptext {

    margin-left: 35px;
}

#divForGateHelp h1 {
    padding: 5px;
    font-size: 2em;
    color: #1c72af;
}

#divForGateHelp ul {

    font-size: 1em;
    padding-left: 28px;
    padding-top: 10px;
}

#divForGateHelp ol {

    font-size: 1em;
    padding-left: 18px;
    padding-top: 10px;
}

#divForGateHelp p {


    padding-left: 5px;

}

/* Kanban */

.tbKanban {
    /* background-image: url("/images/kanbanbg.jpg"); */

}

.backlog2 {
    padding: 5px !important;

}

.boxCanvas {
    display: block;
    border-radius: 8px;
    border: 0px solid green;
    position: absolute;
    left: 300px;
    top: 80px;
    z-index: 200;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
    padding: 0px !important;
    background: rgb(255, 255, 255);
}

.filterWorkItemsProject {

    cursor: pointer;
}

.selectedRecord {
    color: blue;
}

/* backlog menu */
#backlogcontainer1 {
    /* width: 150px; */
    position: absolute;
    left: 3px;
    top: 80px;
}

#backlogcontainer2 {
    /* width: 150px; */
    position: absolute;
    left: 250px;
    top: 80px;
}

.ui-menu {
    width: 300px;
}

.headerL1z {
    /*  padding-left: 0px; */
    padding: 4px;
    background-color: black;
    color: white;
}

.headerL2z {
    padding: 4px;
    background-color: Gray;
    color: White;
    font-weight: 500;
}

.headerL3z {
    padding-left: 6px;
    background-color: rgb(235, 228, 228);
}

.headerL1 {
    padding: 6px;
    background-color: black;
    color: white;
}

.headerL2 {
    padding: 4px;
    background-color: white;
    color: black;
    font-weight: 600;
}

.headerL3 {
    padding: 5px;
    background-color: white;
    color: black;
    font-weight: 500;
    padding-left: 15px;
}

.L1 {
    padding-left: 0px;
}

.L2 {
    padding-left: 5px;
    color: rgb(107, 100, 100);
}

.L3 {
    padding-left: 8px;
}

/* end backlog menu */

#backlogAccordion {
    width: 240px;

}

/* Start Work item panel*/

.kanbanItem {
    margin: auto;
/*     font-family: Calibri, sans-serif; */
    font-size: 12px;
    /* width: 370px; 
    position: fixed;*/
    position: absolute !important;

    /* left: 300px; */
    top: 80px;
    z-index: 230;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 20px !important;
    padding: 5px !important;
    border: none !important;
    background: rgb(248, 248, 246);
    cursor: move;
}

.tbkbpnlContainerL2 {

    background: rgb(248, 248, 246);

}

.tbkbpnlDiv2 {
    display: table;
}

.tbkbpnlDiv2 .tbkbpnlDiv2 {
    display: table-row;
}

.tbkbpnlDiv2 .tbkbpnlDiv2 .tbkbpnlDiv2 {
    display: table-cell;

    padding: 5px;
}

.tbkbpnlHeaderBand1 {
    padding: 2px;
    background: rgb(248, 248, 246);
    color: gray ! important;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
}

.tbkbpnlHeaderBand2 {
    padding: 2px;
    color: blue !important;
    font-size: 16px;
    text-align: left;
    font-weight: 800;
    /* width: 100%; */
    cursor: text;
}

.tbkbpnlLabelArea {
    padding: 2px;
    text-align: Left;
    width: 170px;
    cursor: text;
}

.tbkbpnlFieldArea {

    /* width: 100%;  */
    background: rgb(248, 248, 246);
    cursor: text;
}

/* End Work item panel*/

#kbStatusDate {

    background: rgb(248, 248, 246);
}


/* MARKETING ACCORDION */

.flexContainer {

    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    justify-content: space-around;
    /*   background-color: rgb(213, 222, 230); */


}

.flexContainer>p {
    /* background-color: #f1f1f1; */
    width: 450px;
    margin: 40px;
    /* border: #098d05 solid; */
    border-bottom: #a3a3a7 solid 1px;
       text-align: center;
  line-height: 27px;
   font-size: 18px;  

}
.flexContainer>div {
    /* background-color: #f1f1f1; */
    width: 500px;
   /*  margin: 40px; */
    /* border: #098d05 solid; */
    border-bottom: #a3a3a7 solid 1px;
     text-align: center;
  line-height: 25px;
  font-size: 18px; 
  padding: 10px;

}

.marketingLink > a {
    color: rgb(150, 172, 133) !important;

}

.flexTitle {

    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* justify-content: space-around;  */
    background-color: black;
    color: white;
    /*    background-image: url("/images/headerbgnoborder.jpg");
background-repeat:  */

}

.flexTitle>div {

    /*  height: 100px; */
    width: 250px;
    margin: 10px;
    /* background-color: #f1f1f1; */
    /*   width: 400px;
   */
    /* border: #098d05 solid; */
    /* border-bottom: #a3a3a7 solid 1px; */
    /* text-align: center; */
    line-height: 20px;
    font-size: 18px;
}
.flexTitle a {
    color: rgb(150, 172, 133) !important;
}


#accordionMarketing * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#accordionMarketing {
    /* 	width: 600px;  */
    margin: 0px auto;
    padding: 0px;

}

li.issx {

    /*     list-style-type: square;
    list-style-position: inside; */
    padding: 8px;
    width: 400px;
    /*  color: rgb(158, 94, 94); */
    /*   margin: 5px;  */

    list-style-type: none;
}

li.issx {

    /*     list-style-type: square;
        list-style-position: inside; */
    padding: 8px;
    width: 300px;
    /*  color: rgb(158, 94, 94); */
    /*   margin: 5px;  */

    list-style-type: none;
}

.valProp {
   /*  width: 300px !important;  */
   /*  margin: 10px */
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   padding: 30px;
}
.valProp>div {
    width: 400px;
    margin: 40px;
    /* border: #098d05 solid; */
   /*  border-bottom: #a3a3a7 solid 1px; */
    /* padding: 118px; */
  }


.valProp > div ul li {
    position: relative;
     margin-bottom: 40px;
}

.valProp p {
  /*   font: 12px/1.5 Helvetica, sans-serif; */
    padding-left: 80px;
    color: #555;
    
}

.valProp span {
    position: absolute;
    font-size: 45px !important; 
    top: 20px;
}

.valProp ul {

   /*  color: rgb(231, 20, 20)!important; */
    list-style-type: none;
    font-size: 18px
}





#accordionMarketing .ui-accordion-header {
    background-color: #ccc;
    margin: 0px;
}

#accordionMarketing > h3 {
    color: #fff;
    line-height: 42px;
    display: block;
    font-size: 12pt;
    width: 100%;
    text-indent: 10px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(250, 250, 250, .2);
}

#accordionMarketing .ui-accordion-content {
    width: 100%;
    /* background-color: #f3f3f3; */
    color: rgb(59, 58, 58);
    font-size: 12pt;
    line-height: 16pt;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .2),
        inset 0px -1px 0px 0px rgba(0, 0, 0, .4);
}

#accordionMarketing .ui-accordion-content>* {
    margin: 0;
    padding: 5px;
}

#accordionMarketing .ui-accordion-content a {
    color: #777;
}

#accordionMarketing .ui-accordion-header:first-of-type {
    background-color: #0a0a0a;
    background-image: -moz-linear-gradient(top, #0a0a0a 0%, #242221 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a0a0a), color-stop(100%, #242221));
    background-image: -webkit-linear-gradient(top, #0a0a0a 0%, #242221 100%);
    background-image: -o-linear-gradient(top, #0a0a0a 0%, #242221 100%);
    background-image: -ms-linear-gradient(top, #0a0a0a 0%, #242221 100%);
    background-image: linear-gradient(to bottom, #0a0a0a 0%, #242221 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a0a0a', endColorstr='#242221', GradientType=0);
}

#accordionMarketing .ui-accordion-header:nth-of-type(2) {
    background-color: #098d05;
    background-image: -moz-linear-gradient(top, #098d05 0%, #43af43 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #098d05), color-stop(100%, #43af43));
    background-image: -webkit-linear-gradient(top, #098d05 0%, #43af43 100%);
    background-image: -o-linear-gradient(top, #098d05 0%, #43af43 100%);
    background-image: -ms-linear-gradient(top, #098d05 0%, #43af43 100%);
    background-image: linear-gradient(to bottom, #098d05 0%, #43af43 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#098d05', endColorstr='#43af43', GradientType=0);
}

#accordionMarketing .ui-accordion-header:nth-of-type(3) {
    background-color: #1823c0;
    background-image: -moz-linear-gradient(top, #1823c0 0%, #2343d4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1823c0), color-stop(100%, #2343d4));
    background-image: -webkit-linear-gradient(top, #1823c0 0%, #2343d4 100%);
    background-image: -o-linear-gradient(top, #1823c0 0%, #2343d4 100%);
    background-image: -ms-linear-gradient(top, #1823c0 0%, #2343d4 100%);
    background-image: linear-gradient(to bottom, #1823c0 0%, #2343d4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1823c0', endColorstr='#2343d4', GradientType=0);
}

#accordionMarketing .ui-accordion-header:nth-of-type(4) {
    background-color: #f3e629;
    background-image: -moz-linear-gradient(top, #f3e629 0%, #d1df0d 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3e629), color-stop(100%, #d1df0d));
    background-image: -webkit-linear-gradient(top, #f3e629 0%, #d1df0d 100%);
    background-image: -o-linear-gradient(top, #f3e629 0%, #d1df0d 100%);
    background-image: -ms-linear-gradient(top, #f3e629 0%, #d1df0d 100%);
    background-image: linear-gradient(to bottom, #f3e629 0%, #d1df0d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111110', endColorstr='#c1ce0c', GradientType=0);
}

#accordionMarketing .ui-accordion-header:nth-of-type(5) {
    background-color: #837f4d;
    background-image: -moz-linear-gradient(top, #837f4d 0%, #82922a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #837f4d), color-stop(100%, #82922a));
    background-image: -webkit-linear-gradient(top, #837f4d 0%, #82922a 100%);
    background-image: -o-linear-gradient(top, #837f4d 0%, #82922a 100%);
    background-image: -ms-linear-gradient(top, #837f4d 0%, #82922a 100%);
    background-image: linear-gradient(to bottom, #837f4d 0%, #82922a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4d93c', endColorstr='#82922a', GradientType=0);
}

#accordionMarketing .ui-accordion-header:last-of-type {
    background-color: #b3bec4;
    background-image: -moz-linear-gradient(top, #b3bec4 0%, #95a0a4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b3bec4), color-stop(100%, #95a0a4));
    background-image: -webkit-linear-gradient(top, #b3bec4 0%, #95a0a4 100%);
    background-image: -o-linear-gradient(top, #b3bec4 0%, #95a0a4 100%);
    background-image: -ms-linear-gradient(top, #b3bec4 0%, #95a0a4 100%);
    background-image: linear-gradient(to bottom, #b3bec4 0%, #95a0a4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3bec4', endColorstr='#95a0a4', GradientType=0);
}

/* #accordionMarketing .ui-accordion-header:first-of-type a {
	box-shadow: 0px -1px 0px 0px #b85c0f;
}
#accordionMarketing .ui-accordion-content:last-of-type {
	box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .2),
				inset 0px 0 0px 0px rgba(0, 0, 0, .5);
} */