


.mailformContainerL2 {
    /*  background: rgb(238, 228, 143); */
}

.mailformDiv2 {
    display: table;
        border-color: rgb(245, 244, 240);
    border-style: solid;
    border-width: .5px; 
    border-collapse: collapse;
    /*  width: 620px;  */
    /*   border: none !important;  */
}

.mailformDiv2LabelArea {
    padding: 5px;
    text-align: left;
    width: 180px;
    /* color: #1c72af; */
}

.mailformDiv2LabelArea p {
    color: dimgray;
    font-style: italic;
    font-size: 12px;
}

.mailformDiv2FieldArea {
    width: 550px;
    /* background: rgb(238, 228, 143); */
    padding: 5px;
    color: black;
}

.mailformDiv2Editor {
    width: 750px;
    /* background: rgb(238, 228, 143); */
    padding: 5px;
    color: black;
}
.mailformDiv2SubscriberList {
    /* width: 250px; */
    /* background: rgb(238, 228, 143); */
    padding: 5px;
    color: black;
}

.mailformDiv2 .mailformDiv2 {
    display: table-row;
}

.mailformDiv2 .mailformDiv2 .mailformDiv2 {
    display: table-cell;
}

/*div table with 6 fixed width cells*/

.mailformDiv6 {
    display: table;
    border-collapse: collapse;
    /*     border-color: rgb(211, 211, 202);
    border-style: solid;
    border-width: 0.5px; */
}

.mailformDiv6 .mailformDiv6 {
    display: table-row;
}

.mailformDiv6 .mailformDiv6 .mailformDiv6 {
    display: table-cell;
    /* background: rgb(238, 228, 143); */
    /*  border: 1px solid #caddd7; */
    /*    padding: 5px; */
    /* vertical-align: top; */
    /*  width: 100px; */
}

.mailformDiv6LabelArea {
    padding: 5px;
    text-align: left;
    /*    color: #1c72af; */
    width: 60px;
}

.mailformDiv6FieldArea {
    width: 160px;
    /*  background: rgb(238, 228, 143); */
    padding: 1px;
    color: black;
}

.mailformHeaderBand1 {
    padding: 0px 0px 0px 0px;
    /* background: rgb(238, 228, 143); */
    /*   color: #1c72af; */
    font-size: 30px;
    text-align: left;
    font-weight: 700;
    vertical-align: middle;
}

.mailformHeaderBand2 {
    padding: 0px 0px 10px 0px;
    /* color: #1c72af; */
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    /* width: 100%; */
}

.jspacer {
    height: 25px;

}