return `<tr id="${ids.listItemID}">
    <td><a href="#" title="Edit this document" id="${ids.editID}"><i class="material-icons tiny">edit</i></a>
        <p style="color: lightgrey;">${Number(Item.id)}</p>
    </td>

    <td id="tbDocID-${Item.tbDocID}">
        <div>${Item.tbDocID}</div>
    </td>

    <td id="tbDocName-${Item.tbDocID}">
        <div style="width:200px">${Item.tbDocName}</div>
    </td>
    <td id="tbDocL1-${Item.tbDocID}">
        <div>${Item.tbDocL1}</div>
    </td>
    <td id="tbDocL2-${Item.tbDocID}">
        <div>${Item.tbDocL2}</div>
    </td>
    <td id="tbDocL3-${Item.tbDocID}">
        <div>${Item.tbDocL3}</div>
    </td>
    <td id="tbDocPurpose-${Item.tbDocID}">
        <div style="width:75px">${Item.tbDocPurpose}</div>
    </td>
    <td id="tbDocOwner-${Item.tbDocID}">
        <div style="width:75px">${Item.tbDocOwner}</div>
    </td>
    <td id="tbDocStatus-${Item.tbDocID}">
        <div style="width:50px">${Item.tbDocStatus}</div>
    </td>
    <td id="tbDocSortOrder-${Item.tbDocID}">
        <div style="width:50px">${Item.tbDocSortOrder}</div>
    </td>
    <td id="tbDocPopular-${Item.tbDocID}">
        <div style="width:40px">${Item.tbDocPopular}</div>
    </td>
    <td id="tbDocWrittenBy-${Item.tbDocID}">
        <div style="width:75px">${Item.tbDocWrittenBy}</div>
    </td>
    <td><button title="Delete this Document" type="button" class="btn-flat" id="${ids.deleteID}"><i
                class="material-icons grey-text">delete_forever</i></button></td>
</tr>`;