/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 5.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/* removed keyboard arroy right from the style css */
/* #breadcrumbs-wrapper .breadcrumbs > li + li::before
{
     content: ''; 
    
} */


/*----------------------------------------
    Login Page
------------------------------------------*/
.login-bg
{
    background-image: url('../../images/gallery/flat-bg.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
}

#login-page
{
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    height: 100vh; 

    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
    -ms-flex-align: center;
            align-items: center;
}
#login-page .card-panel.border-radius-6.login-card
{
    margin-left: 0 !important;
}
/*----------------------------------------
    Passwords Page
------------------------------------------*/
.forgot-bg
{
    background-image: url('../../images/gallery/flat-bg.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
}

#forgot-password
{
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    height: 100vh; 

    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
    -ms-flex-align: center;
            align-items: center;
}
#forgot-password .card-panel.border-radius-6.forgot-card
{
    margin-left: 0 !important;
}



#divTbBreadCrumbHTML{
/* background-color: rgb(236, 237, 243); */
 background: #eef0f1; 
/* background: -webkit-linear-gradient(45deg, rgb(176, 247, 64), #eef1f1) !important;
background: -moz- oldlinear-gradient(45deg, rgb(176, 247, 64), #eef1f1) !important;
background:      -o-linear-gradient(45deg, rgb(176, 247, 64), #eef1f1) !important;
background:         linear-gradient(45deg, rgb(176, 247, 64), #eef1f1) !important; */
}

header .brand-logo {

	margin-top: -5px;
 }
header .brand-logo img {
	height: 28px;

 }

 #main {
background: transparent;
 }

/* Paralax Home Page */
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
}


  #mcttContainer {
    /* width: 360px; */
    /*  height: 440px;  */
    /* padding: 8px; */
    /*     margin: 0px;
    cursor: pointer;
    text-align: left;
    line-height: 16px; */
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 7px !important;
    position: fixed;
    top: 205px;
    left: 295px;
    z-index: 310;
    background-color: white;
}

#mcttHeader {
    font-size: 16px;
    height: 40px;
    background-color: white;
    padding: 8px;
}

#mcttHeader h4 {
    font-size: 18px;
    margin: 0;
}

#mcttHeader p {
    font-size: 12px;
    margin: 0;
}

#mcttTagListDiv {
    /*  box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 7px !important; */
    background-color: white;
    line-height: 16px;
    z-index: 310;
    width: 260px;
}

h1 {
font-size: 26px;
}
h2 {
  font-size: 22px;
}
h3 {
    font-size: 18px;
}


  /* data management page */
 .uploadDropArea {
/*       border: 4px dashed rgb(245, 240, 240);
    border-radius: 20px;  */ 
   margin: 0px auto;
   width: 100%;
   height: 70px;
 }

#divTbPagesL1.highlightDrop {
  border: 4px dashed rgb(153, 117, 117);
  border-radius: 20px;
  border-color: rgb(160, 158, 149);
  background: #e2e6f3
}


